# Copier ce fichier en .env et adapter les valeurs

# PostgreSQL connection string
# DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/gp_du_monde?schema=public"
DATABASE_URL="postgresql://USER:amy210322@localhost:5432/gp_du_monde"
# Port du serveur Express
PORT=3000
